.imgcertificate img{
    width: 100%;
    height: 450px;
    border: 1px solid rgb(156, 216, 255);
    border-radius: 3%;
    transition: transform 200ms ease-in-out;
}
.listitem ul li button{
    font-size: 1rem;
    color: rgb(214, 230, 214);
    /* background-color: rgb(3, 59, 3); */
    background-color: rgb(170, 56, 3);
    text-align:center;
    border-radius: 1.4rem;
    transition: transform 200ms ease-in-out;
}
.listitem  ul li { 
    color: rgb(245, 232, 232);
  }

  .listitem ul li button:hover{
    transform: scale(1.05);
}
.imgcertificate img:hover{
    transform: scale(1.10);
}
