<div class="container" id="AnchorId">

    <div class="row">

        <div class="col-lg-6 col-md-12 col-xs-12 abc m-5">
            <div class="container-fluid">
                <h1 style="color: aliceblue;">About me</h1>
            </div>
            <span>My name is Umang Kumar.</span><br>
            <span>I'm from Bihar and my hometown is Sitamarhi.</span><br>
            <span>I have completed B.tech from MEFGI Rajkot,Gujarat(GTU UNIVERSITY).</span><br>
            <span>Currently, I'm doing internship at <span><a href="https://www.amnex.com/">Amnex Infotechnologies Pvt
                        ltd.</a></span></span>

        </div>
        <div class="col-lg-4 col-md-8  col-xs-12 imgcertificate mb-1 d-flex justify-content-end align-items-end">
            <img src="../../assets/img/about.jpg" alt="grhgt">
        </div>

    </div>
</div>