<div class="container" id="skills">
    <div class="row">
        <div>
            <h2 style="color: aliceblue;">Skills</h2>
        </div>
        <div>
            <h3 class="text-center experience p-2">I have experience with these technologies</h3>
        </div>

    </div>


    <div class="row">
        <div class="text-center skill d-flex justify-content-center align-items-center">
            <div class="p-3" id="JAVASCRIPT">
                <span> <i class="fa-brands fa-html5 xyz" style="color: #e64c0a;font-size: 4rem;"></i></span><br>
                <span class="abc1">HTML</span>
            </div>

            <div class="p-3" id="JAVASCRIPT" >
                <span><i class="fa-brands fa-js" style="color: #e4c811; font-size: 4rem;"  ></i></span><br>
                <span class="abc1">JAVASCRIPT</span>
            </div>
            <div class="p-3" id="JAVASCRIPT">
                <span><i class="fa-brands fa-css3-alt" style="color: #085ae7;font-size: 4rem;"></i></span><br>
                <span class="abc1">CSS</span>
            </div>
            <div class="p-3" id="JAVASCRIPT">
                <span><i class="fa-brands fa-angular" style="color: #e4013a;font-size: 4rem;"></i></span><br>
                <span class="abc1">ANGULAR</span>
            </div>

        </div>

    </div>


    <div class="row m-5">
        <div class="text-center skill1 d-flex justify-content-center align-items-center">
            <div class="p-3" id="JAVASCRIPT">
                <span><i class="fa-brands fa-java xyz" style="color: #e6450f;font-size: 4rem;"></i></span><br>
                <span class="abc1">JAVA</span>
            </div>

            <div class="p-3" id="JAVASCRIPT">
                <span><i class="fa-brands fa-github" style="color: #9fa4ad;font-size: 4rem;"></i></span><br>
                <span class="abc1">GIT</span>
            </div>
            <div class="p-3" id="JAVASCRIPT">
                <span><i class="fa-solid fa-database" style="font-size: 4rem;"></i></span><br>
                <span class="abc1">MYSQL</span>
            </div>
            <div class="p-3" id="JAVASCRIPT">
                <span><i class="fa-solid fa-database" style="font-size: 4rem;"></i></span><br>
                <span class="abc1">POSTGRESQL</span>
            </div>

        </div>

    </div>


</div>