<app-poster></app-poster>
<router-outlet></router-outlet>

<div class="row d-flex  justify-content-between align-items-center p-3 m-4 border-top">
    <div class="col-lg-4"></div>
    <div class="col-lg-6 col-md-8 col-sm-9 col-sx-6 p-2">
        <span id="portfolio" class="text-center" style="color: white;">© 2023 Umang portfolio.com, Software
            Developer</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-3 col-sx-6">
        <span class="text-center " style="color: white;">+91 7367833798</span>
    </div>
</div>