<div class="container">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">࿐ᑌϻA₦g⸙</label>
        <ul>
            <li> <span><a (click)="onClick('AnchorId')" routerLink="/about">About us</a></span> </li>
            <li> <span><a (click)="onClickedu('education')" routerLink="/edu">Education</a></span></li>
            <li> <span><a (click)="onClickCerti('certification')" routerLink="/certification">Certification</a></span>
            </li>
            <li><span><a (click)="onClickskill('skills')" routerLink="/skills">Skills</a></span></li>
            <li> <span><a (click)="onClickproject('project')" routerLink="/">Project</a></span></li>
            <li> <span><a (click)="onClickworks('work')" routerLink="/works">Work experience</a></span></li>
        </ul>
    </nav>

    <div class="row ">
        <div class="name col-lg-8 col-md-8 col-sm-12 col-12">
            <span>
                <span>Hello! </span>&nbsp; <span id="abc">I am</span>
            </span><br>
            <span class="typed">Umang Kumar</span><br>
            <span id="xyz">Software Developer Intern</span>
        </div>

        <div class="profile col-lg-8 col-md-4 col-sm-12 col-12">
            <div>
                <img src="../../assets/img/Umang.png" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="btn-group  col-md-3 col-sm-9" id="resume">
            <button class="btn text-center" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">
                <span>See My Resume</span>
            </button>
        </div>

    </div>
    <div class="row">
        <div class="icon col-md-3 col-sm-9" id="icons">
            <span><a href="https://krumang16122000@gmail.com"><i class="fa-solid fa-envelope mail"></i></a></span>
            <span><a href="https://www.linkedin.com/in/umang-kumar-5336a8227/"><i
                        class="fa-brands fa-linkedin"></i></a></span>
            <span><a href="https://github.com/Umangkumar1234"><i class="fa-brands fa-github git"></i></a></span>
            <span><a href="https://www.facebook.com/umang.kumar.3511041"><i
                        class="fa-brands fa-square-facebook"></i></a></span>

        </div>
    </div>


    <!-- model  -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <h1 class="text-center">Resume</h1>
                <iframe id="myPDF" src="../../assets/img/Umang_resume.pdf"></iframe>
            </div>
        </div>
    </div>

</div>